* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-color: rgb(109, 109, 109);
  height: 4rem;
  line-height: 4rem;
  text-align: center;
}

button {
  padding: 0.5rem 1rem;
}

input {
  line-height: 2rem;
  text-indent: 1rem;
}

.container {
  height: calc(100vh - 4rem);
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgb(204, 204, 204);
}

.words-list {
  display: flex;
  flex-wrap: wrap;
  min-height: 2rem;
  background-color: rgb(109, 109, 109);
  padding: 2rem;
  margin: 2rem;
}

.word {
  padding: 0.3rem 0.5rem;
  background-color: rgb(204, 204, 204);
  margin: 1rem;
}

.word:hover {
  cursor: pointer;
}

.crossword-container {
  background-color: rgb(109, 109, 109);
  padding: 2rem;
  margin: 2rem;
  min-height: 2rem;
}

.crossword-word {
  margin-right: 2rem;
}

.crossword-character {
  display: inline-block;
  text-transform: capitalize;
  color: white;
  border: 1px solid white;
  height: 1.5rem;
  width: 1.5rem;
  line-height: 1.5rem;
}